<%+header%>

<link href="/freifunk/assistent/assistent.css" rel="stylesheet" />

<div class="section">
  <h3>Freifunk-Assistent</h3>

  <div class="info alert-message">
    <p class="success">
<%= translate("Als naechstes kommen die Einstellungen für das Freifunk-Netzwerk. \
Halte die IPs bereit, die du ueber den Wizard von config.berlin.freifunk.net \
bekommen hast.") %>
    </p>
  </div>

  <div class="tile">
    <div style="text-align: center; margin: 10px">
      <a class="cbi-button cbi-button-save" href="<%=luci.dispatcher.build_url("admin/freifunk/assistent/optionalConfigs")%>?sharenet=0">
        <%= translate("Am Freifunk-Netz teilnehmen") %>
      </a>
    </div>
    <div class="alert-message">
      <p class="info">
        <%= translate("Erweitere das Freifunk-Netz. Du benoetigst dazu eine \
        WLAN-Verbindung zu einem anderen Freifunk-Router. \
        Du kannst auf der Freifunk-Karte \
        nachschauen, wer in deiner Naehe ist, und sie kontaktieren, \
        damit ihr die Verbindung optimal ausrichten koennt.") %>
      </p>
    </div>
  </div>

  <div class="tile">
    <div style="text-align: center; margin: 10px">
      <a class="cbi-button cbi-button-save" href="<%=luci.dispatcher.build_url("/admin/freifunk/assistent/sharedInternet")%>">
        <%= translate("Am Freifunk-Netz teilnehmen und Internet teilen") %>
      </a>
    </div>
    <div class="alert-message">
      <p class="info">
        <%= translate("Unterstütze die Community, indem du dein Internet im Freifunk-Netzwerk freigibst. \
        Diese Option ist sowohl mit als auch ohne Verbindung zu anderen Freifunk-Routern sinnvoll.") %>
      </p>
    </div>
  </div>

<div class="clear"></div>
</div>
<div class="cbi-page-actions">
  <a class="cbi-button cbi-button-apply" href="<%=luci.dispatcher.build_url("admin/freifunk/assistent/generalInfo")%>">Back</a>
  <a class="cbi-button cbi-button-apply" href="<%=luci.dispatcher.build_url("admin/freifunk/assistent/cancel")%>">Cancel</a>
</div>
<%+footer%>
