<%
  luci.sys.reboot()
%>

<%+header%>

<link href="/freifunk/assistent/assistent.css" rel="stylesheet" />
<div class="section">
  <div class="info alert-message">
    <p class="success">
      <%= translate("Done! You made all the necessary configuration. Your router will reboot now. \
      Consider drinking a cup of tea or coffee. :D Once all lights blink again, you will be a Freifunkeer!") %>
    </p>
    <p>
      <%= translate("Please mind, that the router router will be reachable by its new Freifunk-IP-address. \
      From devices connected by WiFi or Ethernet you could use <em>frei.funk</em> also.") %>
    </p>
    <p>
      <%= translate("There are even exclusive services in Freifunk-Network. You can get a list of them in \
      the Freifunk-main menu under <em>Services</em>, once your router restarted.") %>
    </p>
  </div>
</div>

<%+footer%>

