<div class="alert-message">
  <p>
    <%= translate("You should leave the SSID at <em>berlin.freifunk.net</em>, as long as there is \
    not an access point with the same SSID nearby. Thus, people can connect to the Freifunk network \
    in the whole area, without having to connect to every node individually. <br/>This option \
    influences the WiFi-AP, <em>not</em> the mesh-network for the mesh connections.") %>
  </p>
  <p class="info">
    <%= translate("The DHCP-options controls the distribution of IP-addresses to the clients of your \
    Freifunk-WiFi. You should have gotten the addresses from <em>config.berlin.freifunk.net</em>. We \
    use the CIDR-notation (i.e. 10.42.42.42/28).") %>
  </p>
</div>
