<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2011 Manuel Munz <freifunk at somakoma dot de>
 Licensed to the public under the Apache License 2.0.
-%>

<%

function write_conf(conf, file)
	local fs = require "nixio.fs"
	if fs.access(conf) then
		luci.http.header("Content-Disposition", "attachment; filename="..file)
		luci.http.prepare_content("text/plain")
		luci.http.write(fs.readfile(conf))
	end
end

conf = luci.http.formvalue()

if conf.olsrd2_uci then
	write_conf("/etc/config/olsrd2", "olsrd2")
	return false
end

%>

<%+header%>

<script type="text/javascript">//<![CDATA[

XHR.poll(10, '<%=REQUEST_URI%>/json', { }, function(x, info) {
		var e;

		if (! x.ok) {
			document.getElementById('error').innerHTML = '<%:Could not get any data. Make sure the telnet interface is activated and allows connections from localhost.%>';
			return
		}
		document.getElementById('error').innerHTML = '';

		/*if (e = document.getElementById('version')) {
			var version;
			if (info.version.version_text != undefined) {
				version = info.version.version_text
			} else {
				version = 'unknown'
			}		
			e.innerHTML = version;
		}*/

		if (e = document.getElementById('nr_neigh')) {
			var neigh = 0;
			if (info.link != undefined) {
				neigh = neigh + info.link.length
			}
			e.innerHTML = neigh;
		}


		/*if (e = document.getElementById('nr_hna')) {
			var hna = 0;
			if (info.hna != undefined) {
				hna = hna + info.hna.length
			}
			e.innerHTML = hna;
		}*/


		/*if (e = document.getElementById('nr_ifaces')) {
			var nrint = 0
			if (info.interfaces != undefined) {
				nrint = nrint + info.interfaces.length
			}
			e.innerHTML = nrint
		}*/


		/*if (e = document.getElementById('nr_topo')) {
			var topo = 0;
			var nodes = [];

			Array.prototype.contains = function (element) {
				for (var i = 0; i < this.length; i++) {
					if (this[i] == element) {
						return true;
					}
				}
				return false;
			}

			if (info.topology != undefined) {
				topo = topo + info.topology.length
				for (var i = 0; i < info.topology.length; i++) {
					var destip = info.topology[i].destinationIP
					if (! nodes.contains(destip) ) {
						nodes.push(destip)
					}
				}

			}
			e.innerHTML = topo;

			if (e = document.getElementById('nr_nodes'))
				e.innerHTML = nodes.length;

			if (e = document.getElementById('meshfactor'))
				var meshfactor = topo / nodes.length
				e.innerHTML = meshfactor.toFixed(2)
		}*/
	});
//]]></script>


<div id="error" class="error"></div>

<h2 name="content">OLSRv2 <%:Overview%></h2>

<fieldset class="cbi-section">
        <legend><%:Network%></legend>

        <div class="table" width="100%" cellspacing="10">
                <div class="tr"><div class="td" width="33%"><%:Interfaces%></div><div class="td">
			<a href="<%=REQUEST_URI%>/interfaces">
				<span id="nr_ifaces">-<span>
			</a>
		</div></div>
                <div class="tr"><div class="td" width="33%"><%:Neighbors%></div><div class="td">
			<a href="<%=REQUEST_URI%>/neighbors">
				<span id="nr_neigh">-</span>
			</a>
		</div></div>
                <div class="tr"><div class="td" width="33%"><%:Nodes%></div><div class="td">
			<a href="<%=REQUEST_URI%>/topology">
				<span id="nr_nodes">-</span>
			</a>
		</div></div>
                <div class="tr"><div class="td" width="33%"><%:HNA%></div><div class="td">
			<a href="<%=REQUEST_URI%>/hna">
				<span id="nr_hna">-</span>
			</a>
		</div></div>
                <div class="tr"><div class="td" width="33%"><%:Links total%></div><div class="td">
			<a href="<%=REQUEST_URI%>/topology">
				<span id="nr_topo">-</span>
			</a>
		</div></div>
                <div class="tr"><div class="td" width="33%"><%:Links per node (average)%></div><div class="td">
			<span id="meshfactor">-</span>
		</div></div>


        </div>
</fieldset>


<fieldset class="cbi-section">
        <legend>OLSRv2 <%:Configuration%></legend>
        <div class="table" width="100%" cellspacing="10">
                <div class="tr"><div class="td" width="33%"><%:Version%></div><div class="td">
			<span id="version">-<span>
		</div></div>
                <div class="tr"><div class="td" width="33%"><%:Download Config%></div><div class="td">
			<a href="<%=REQUEST_URI%>?olsrd2_uci">OLSRD2 (UCI)</a>,
		</div></div>
	</div>
</fieldset>

<%+footer%>
